body{
    background-color: #0a0800;
    background-image: url(../images/background/wall-4-light.png);
    /*background-repeat: repeat; */
}

.about{
    font-family: 'Play', sans-serif;
    color: rgb(223, 223, 8);
}

.welcome{
    font-family: 'Play', sans-serif;
    color: firebrick;
    text-align: center;
}

a[href^="mailto:"]
{ 
  font-family: 'Play', sans-serif;
  color: firebrick;
  font-size: 25px;
  text-align: center;
}

.navbar-brand{
  font-family: 'Play', sans-serif;
  color: firebrick;
  font-size: 30px;
}