body{
    background-color: #0a0800;
    background-image: url(../images/background/wall-4-light.png);
    /*background-repeat: repeat; */
}

.about{
    font-family: 'Play', sans-serif;
    color: rgb(223, 223, 8);
    font-size: 20px;
}

.welcome{
    font-family: 'Play', sans-serif;
    color: rgb(223, 223, 8);
    text-align: center;
}

a[href^="mailto:"]
{ 
  font-family: 'Play', sans-serif;
  color:rgb(223, 223, 8);
  font-size: 25px;
  text-align: center;
}

.navbar{
  font-family: 'Play', sans-serif;
  color:rgb(223, 223, 8);
  font-size: 18px;
  background-color: black;
}

.navbar-brand{
  font-family: 'Play', sans-serif;
  text-align: center;
  color:rgb(223, 223, 8);
  font-size: 18px;
}

.nav-link{
  font-family: 'Play', sans-serif;
  color: rgb(97, 97, 42);
  font-size: 15px;
}